/*################################# MDL STYLING FOR TABLES AND ROWS ######################################################################################*/
table{margin-bottom: 15px; position:relative;border:1px solid rgba(0,0,0,.12);border-collapse:collapse;font-size:13px;background-color:#fff;/*box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/}
thead{padding-bottom:3px}
tr{position:relative;height:48px;transition-duration:.28s;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-property:background-color}
tr:hover{background-color:#eee}
th{padding:0 18px 12px 18px;}
td:first-of-type,th:first-of-type{padding-left:24px}
td:last-of-type,th:last-of-type{padding-right:24px}
td{position:relative;height:48px;border-top:1px solid rgba(0,0,0,.12);border-bottom:1px solid rgba(0,0,0,.12);padding:12px 18px;box-sizing:border-box}
th{position:relative;vertical-align:bottom;font-weight:700;line-height:24px;letter-spacing:0;height:48px;font-size:12px;color:rgba(0,0,0,.54);padding-bottom:8px;box-sizing:border-box}
td, th{text-align:left;}

table{
  width: 100%;
  table-layout: fixed;
}
th, td{
  overflow: auto;
}

.navigation .nav-blog {
  border-bottom: 4px solid #8bc34a;
}

.drawer .nav-blog {
}

.hero-section {
  position: relative;
  height: 30vw;
  width: 100%;
  background: url('../assets/images/blog-hero.png') center 50% no-repeat;
  background-color: #25b099;
  background-size: cover;
}

.post-section {
  position: relative;
  background-color: #f5f5f5;
}

.post-grid {

}

.comment-card {
  padding: 12px;
}

.post-card.mdl-card {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.post-card > .mdl-card__title {
  color: #fff;
  background-color: #25b099;
  font-weight: bold;
}

.paginator-btn {
  display: flex;
}

.post-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.post-card > .mdl-card__actions {
  display: flex;
  align-items: center;
}

.blog-image{
  margin: 5px;
  margin-bottom: 15px;
  display: inline-block;
}

.blog-img {
  margin: auto;
  display: inline-block;
  max-width: 100%;
}

img {
  max-width: 100%;
}


/*##### For Mobile #####*/
@media (max-width: 900px) {

	.hero-section {
	    height: 350px;
	}

}
