.tut-section {
	background-color: #f3f3f3;
	padding-top: 50px;
}

.tut-tit {
	background-color:  #46B6AC;
  color: #f3f3f3;
  font-family: 'Orbitron', sans-serif; font-size: xx-large;
}

.evnt-tit {
	font-family: 'Orbitron', sans-serif;
	font-size: 2.5vw;
}

.team-reg {
	background: #263238; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #004D40, #263238); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #004D40, #263238); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #004D40, #263238); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #004D40, #263238); /* Standard syntax (must be last) */
	background-size: cover;
	color: #fff;
}

.tut-section {
  position: relative;
  background-color: #EEEEEE;
  padding-bottom: 50px;
}

.tut-card.mdl-card {
  width: 100%;
  margin: auto;
  height: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tut-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.tut-details{
  font-family: 'Saira Condensed', sans-serif;
  background-color: #fff;
  color: #616161;
  padding: 15px;
  font-size: 18px;
}

.tut-card > .mdl-card__title {
  color: #fff;
}

@media (max-width: 900px) {

	.evnt-tit{
		font-size: xx-large;
	}

	.tut-section{
		padding: 0;
	}

}
