---
title: Alumni
layout: default
style: alumni
permalink: /alumni/
---
<a name="top"></a>

<div class="seci-section mdl-typography--text-center">

  <div class="seci-grid mdl-grid">
  	<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
  	{% assign count = 0 %}
		{% assign counter = 0 %}
	  		{% assign counter_1 = 0 %}
  	{% for alumni in site.data.alumni %}
		{% if count==0 %}
			<div class="mdl-cell mdl-cell--1-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
			<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
			<div class="team-sec">20{{ 15 | plus:counter }}-20{{ 16 | plus:counter }}</div>
			<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
    	<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
			<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
		{% endif %}
  	{% assign count = count | plus:1 %}
    <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone">
		<div class="seci-card mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand" style="background:
			url('../assets/images/alumni/{{ alumni.image }}') center / cover #46B6AC;">
			</div>
		  	<div class="seci-name mdl-shadow--2dp">
		        <center>
		         {{ alumni.name }}
		        </center>
			</div>
			<div class="seci-details">
				<center>
			    <a target="_blank" href="https://www.linkedin.com/in/{{ alumni.linkedin }}" style="text-decoration: none;">
			        <button class="mdl-button  mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
								</svg>
			        </button>
			    </a>
			    <a target="_blank" href="https://www.facebook.com/{{ alumni.facebook }}" style="text-decoration: none;">
						<button class="mdl-button  mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
								<path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/>
							</svg>
						</button>
				</a>
				</center>
			</div>
		</div>
    </div>
    
    {% if count == 3 %}
	<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
	<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
	{% if counter_1>=4}
	    {% assign count = 0 %}
	    {% assign counter = counter | plus:1 %}
    	{% assign counter_1 = counter_1 | plus:1 %}
    {% endif %}
    {% if count == 4 %}
        <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
    	<div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
    	{% assign count = 0 %}
			{% assign counter = counter | plus:1 %}
    {% endif %}
    {% endfor %}
  </div>
</div>
