---
title: Alumni
layout: default
style: alumni
permalink: /alumni/
---
<a name="top"></a>

<div class="profile">
	{% assign count = 0 %}
	{% assign counter = 0 %}
	{% for alumni in site.data.alumni %}
	{% if count==0 %}
	<h1 class="section-title-01">20{{ 24 | minus:counter }}-20{{ 25 | minus:counter }}</h1>
	<h2 class="section-title-02">20{{ 24 | minus:counter }}-20{{ 25 | minus:counter }}</h2>
	<div class="card-wrapper">
	{% endif %}
		{% assign count = count | plus:1 %}
		<div class="card">
			<div class="card-image">
				<img src="../assets/images/alumni/{{ alumni.image }}" alt="profile-card">
			</div>
			<ul class="social-icons">
				{% if alumni.facebook %}
				<li><a target="_blank" href="{{ alumni.facebook }}"><i
							class="fab fa-facebook-f"></i></a></li>
				{% endif %}
				{% if alumni.linkedin %}
				<li><a target="_blank" href="{{ alumni.linkedin }}"><i
							class="fab fa-linkedin-in"></i></a></li>
				{% endif %}
				{% if alumni.github %}
				<li><a target="_blank" href="{{ alumni.github }}"><i class="fab fa-github"></i></a></li>
				{% endif %}
			</ul>
			<div class="details">
				<h2>{{ alumni.name }}</h2>
				<!-- <p class="job-title">{{ cordi.mob }}</p> -->
				<!-- <p class="job-title">{{ cordi.email }}</p> -->
			</div>
		</div>
		{% if count == 3 and counter == 4 %}
		{% assign count = 0 %}
		{% assign counter = counter | plus:1 %}
	
	</div>
		{% endif %}
		{% if count == 3 and counter == 5 %}
		{% assign count = 0 %}
		{% assign counter = counter | plus:1 %}
	</div>
		{% endif %}
		{% if count == 4 %}
		{% assign count = 0 %}
		{% assign counter = counter | plus:1 %}
	</div>
		{% endif %}
		{% if count == 3 and counter == 0 %}
		{% assign count = 0 %}
		{% assign counter = counter | plus:1 %}
	</div>
	{% endif %}
	{% endfor %}
</div>
