---
title: Projects
layout: default
style: projects
permalink: /projects/
---

<a name="top"></a>
<div class="hero-section">
  <div class="mdl-typography--text-justify">
    <div class="project-grid mdl-grid">
      <div
        class="prj-quote project-content project-grid mdl-cell mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--4-col-phone"
      >
        The ideal project does not exist, each time there is the opportunity to
        realize an approximation.
        <p style="text-align: right; padding-top: 20px">
          - Paulo Mendes Da Rocha
        </p>
      </div>
    </div>
  </div>

  <div class="team-section mdl-typography--text-center">
    <div class="team-sec">Summer 2025</div>
    <div class="mdl-typography--text-justify">
      <div class="project-grid mdl-grid">
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        {% assign count = 0 %} {% for proj in site.data.summer25 %} {% assign
        count = count | plus:1 %}
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone"
        >
          <!-- <a target="_blank" href="{{ proj.link }}" style="text-decoration: none;" class="m-prj-card mdl-card mdl-shadow--2dp" id="m-prj-c"> -->
          <div class="m-prj-card mdl-card mdl-shadow--2dp" id="m-prj-c">
            <div
              class="mdl-card__title mdl-card--expand m-prj-tit"
              style="background:
					url('../assets/images/projects/{{ proj.image }}') center / cover #46B6AC;"
            ></div>
            <div class="m-prj-name mdl-shadow--8dp">
              <center>{{ proj.name }}</center>
            </div>
          </div>
          <!-- </a> -->
        </div>
        {% if count == 4 %}
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        {% assign count = 0 %} {% endif %} {% endfor %}
      </div>
      <script type="text/javascript"></script>
    </div>
  </div>

  <div class="team-section mdl-typography--text-center">
    <div class="team-sec">Summer 2024</div>
    <div class="mdl-typography--text-justify">
      <div class="project-grid mdl-grid">
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        {% assign count = 0 %} {% for proj in site.data.summer24 %} {% assign
        count = count | plus:1 %}
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone"
        >
          <!-- <a target="_blank" href="{{ proj.link }}" style="text-decoration: none;" class="m-prj-card mdl-card mdl-shadow--2dp" id="m-prj-c"> -->
          <div class="m-prj-card mdl-card mdl-shadow--2dp" id="m-prj-c">
            <div
              class="mdl-card__title mdl-card--expand m-prj-tit"
              style="background:
					url('../assets/images/projects/{{ proj.image }}') center / cover #46B6AC;"
            ></div>
            <div class="m-prj-name mdl-shadow--8dp">
              <center>{{ proj.name }}</center>
            </div>
          </div>
          <!-- </a> -->
        </div>
        {% if count == 4 %}
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        {% assign count = 0 %} {% endif %} {% endfor %}
      </div>
      <script type="text/javascript"></script>
    </div>
  </div>

  <div class="team-section mdl-typography--text-center">
    <div class="team-sec">Ongoing Projects</div>
    <div class="mdl-typography--text-justify">
      <div class="project-grid mdl-grid">
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        {% assign count = 0 %} {% for proj in site.data.ongoing %} {% assign
        count = count | plus:1 %}
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone"
        >
          <a
            target="_blank"
            href="{{ proj.link }}"
            style="text-decoration: none"
            class="m-prj-card mdl-card mdl-shadow--2dp"
            id="m-prj-c"
          >
            <div
              class="mdl-card__title mdl-card--expand m-prj-tit"
              style="background:
				url('../assets/images/projects/{{ proj.image }}') center / cover #46B6AC;"
            ></div>
            <div class="m-prj-name mdl-shadow--8dp">
              <center>{{ proj.name }}</center>
            </div>
          </a>
        </div>
        {% if count == 4 %}
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        {% assign count = 0 %} {% endif %} {% endfor %}
      </div>
      <script type="text/javascript"></script>
    </div>
  </div>

  <div class="team-section mdl-typography--text-center">
    <div class="team-sec">Past Projects</div>
    <div class="mdl-typography--text-justify">
      <div class="project-grid mdl-grid">
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        {% assign count = 0 %} {% for proj in site.data.projects %} {% assign
        count = count | plus:1 %}
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone"
        >
          <a
            target="_blank"
            href="{{ proj.link }}"
            style="text-decoration: none"
            class="m-prj-card mdl-card mdl-shadow--2dp"
            id="m-prj-c"
          >
            <div
              class="mdl-card__title mdl-card--expand m-prj-tit"
              style="background:
				url('../assets/images/projects/{{ proj.image }}') center / cover #46B6AC;"
            ></div>
            <div class="m-prj-name mdl-shadow--8dp">
              <center>{{ proj.name }}</center>
            </div>
          </a>
        </div>
        {% if count == 4 %}
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        <div
          class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"
        ></div>
        {% assign count = 0 %} {% endif %} {% endfor %}
      </div>
      <script type="text/javascript"></script>
    </div>
  </div>
</div>
