<div class="mdl-typography--text-justify">
  <div class="project-grid mdl-grid">
    <div class="project-content project-grid mdl-cell mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="project-card mdl-card">
        <div id="auv-tit" class="mdl-card__title mdl-card--expand" style="height: 230px; background:
			url('../assets/images/projects/auv.jpg') center / cover #46B6AC;">
          <h1 class="mdl-card__title-text prj-tit">AUV</h1>
        </div>
        <div id="proj-auv" class="mdl-card__supporting-text">
              <p style="font-size: large;">
             With the constant need to push technologies to a new level, <b>AUV- IITK</b> aims to venture along the path to bring in innovative solutions and ideas in marine robotics by designing its own autonomous systems to perform tasks underwater, and inculcate interest in underwater robotics through participation in competitions.
              </p>
              <p style="font-size: large;">Over the past years, the team has witnessed a close collaboration between students from various departments coming and sharing ideas; creating a small yet strong network of people who are eagerly looking for a low- cost solution to large- scale problems. With its numbers only increasing every year, there are currently eighteen people, in total, who are looking over the mechanical, electrical and programming aspects of the project.</p>
        </div>
        <!-- <div class="mdl-card__actions mdl-card--border " onclick="open_auv()"> -->
	    	<div id="auv-exp" class="mdl-card__actions mdl-card--border mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="open_auv()">
	        	More
        </div>
          <!-- <div class="mdl-layout-spacer"></div> -->
        <!-- </div> -->
      </div>

    </div>
  </div>
</div>
<script type="text/javascript">
    
      var auv = document.getElementById('proj-auv');
      var auv_exp= document.getElementById('auv-exp');
      var auv_tit= document.getElementById('auv-tit');

      function open_auv(){
        auv.style.display = "block";
        auv_exp.onclick = close_auv;
        auv_exp.innerHTML = "Less";
        auv_tit.style.height = "630px";
      }

      function close_auv(){
      	auv.style.display = "none";
        auv_exp.onclick = open_auv;
        auv_exp.innerHTML = "More";
        auv_tit.style.height = "230px";
      }

</script>