<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Robotics Club | IITK">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>{{page.title}} | {{ site.title }} </title>

<!-- Page styles -->
<link rel="shortcut icon" href={{ "/assets/images/favicon.ico" | absolute_url }} type="image/x-icon">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Orbitron|Material+Icons|Roboto:300,400,500,700|Pacifico|PT+Mono|Saira+Condensed|Anton|Archivo+Black" rel="stylesheet">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="{{site.url}}/css/styles.css">
<link rel="stylesheet" href="{{site.url}}/css/syntax.css">
<link rel="stylesheet" href="{{site.url}}/css/{{page.style}}.css">
<link rel="stylesheet" href="{{site.url}}/css/{{layout.style}}.css">
